body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.accent-color {
  color: #c67c00;
}

.accent-bg,
.accent-bg:hover {
  background-color: #c67c00;
}

.accent-hover:hover {
  color: #c67c00;
}
